---
Checks: '-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-llvm-header-guard,clang-diagnostic-*'
#security.insecureAPI.DeprecatedOrUnsafeBufferHandling
# Checks: '-llvm-header-guard,clang-diagnostic-*,clang-analyzer-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: Allman
---

---
Checks: '-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-llvm-header-guard,clang-diagnostic-*'
Language: C
FormatStyle: Allman
BasedOnStyle: GNU
UseCRLF: true
BreakBeforeBraces: Allman
UseTab: Always
IndentWidth: 4
IndentCaseLabels: true
ColumnLimit: 0
---
